@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-azul-1: #167BF7;
    --cor-branco-0: #FFFFFF;
    --cor-preto-1: #040814;
    --cor-vermelho-1: #EC2F46;
    --cor-cinza-1: #C0C0C0;

    --font-Inter: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-branco-0);
    font-family: var(--font-Inter);
}

html {
    display: block;
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: var(--cor-preto-1);

}

ul, ul li {
    list-style: none;
}

h1 {

    font-weight: bold;
}

section {
    max-width: 1440px;
    width: 100%;
    display: flex;
}

#landing {
    padding: 32px;
    gap: 32px;
    min-height: 100vh;
    justify-content: flex-start;
    background: url("../medias/Background.png") no-repeat center center;
    background-size: contain;
}

#landing > div {
    max-width: 588px;
    width: 100%;
    padding: 22px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

#landing h1 {
    text-align: center;
    font-size: 28px;
}

#landing ul li {
    text-align: center;
}

#landing a {
    text-decoration: none;
    font-size: 16px;
    padding: 16px;
    display: block;
    width: 100%;
    max-width: 512px;
    border-radius: 8px;
    margin-bottom: 16px;
}

#landing ul li:nth-of-type(1) a {
    background-color: var(--cor-azul-1);
}

#landing ul li:nth-of-type(2) a {
    border: 1px solid var(--cor-branco-0);
}

#landing ul li:nth-last-of-type(1) {
    font-size: 12px;
}
